
@media screen and (max-width: 1000px) {
    .service_boxes{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .banner_info{
        position: static;
        background: black;
        margin-top: -4px;
        transform: none;
    }
    
}

@media screen and (max-width: 600px) {
    #navigation ul {
        position: static;
        background: black;
        padding: 25px 15px;
        text-align: center;
    }
    header{
        text-align: center;
    }
    .social_media{
        top: auto;
        bottom: 0px;
        flex-direction: row;
        column-gap: 10px;
        width: fit-content;
        border-radius: 25px 0px 0px 0px;
    }
    .social_media a figure{
		width: 40px;
	}
}
@media screen and (max-width: 300px) {
    #navigation ul {
        position: static;
        background: black;
        padding: 5px 5px;
        text-align: center;
        font-size: 5px;

    }
}
